
.login-container{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("typewriter.jpg");
    background-position:-10px -25vh;
  
}

.form-container{
    border: 4px solid #907E70;
    border-radius:4%;
    padding: 10px;;
    
}
.welcome-message,.signup-message{
    color:#102631;
    
}


form{
  width:30vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input{
    display: block;
    margin-bottom: 20px;
    width: 100%;
    height:4vh;
}


.buttons-container{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width:100%;
    align-items: center;
    
}

.login-button{
    padding: 1rem 2rem 1rem 2rem;
    background-color:#E4DFC1;
}
.signup-button{
    padding: 1rem 2rem 1rem 2rem;
    background-color:#E4DFC1;

}
.password-recover-link{
margin-top: 5px;
text-decoration: underline;
font-size: 14px;
color:#140303;
font-weight: 600;
}

.password-recover-link:hover{
    color:rgb(34, 17, 17)
    }
@media screen and (max-width: 600px) {

.welcome-message,.signup-message{
    font-size: 0.8rem;
    
}
.form-container{
    border: 4px solid #907E70;
    border-radius:4%;
    padding: 1.5rem 1.5rem 1.5rem 1rem;
    
}
 
form{
  width:80vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

}