.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.note-title{
    font-size:20px;
}
.note-creation-container{
    height: 40%;
    width:50%;
    background-color: gray;
    display:flex;
    justify-content: center;
    align-items: center;
}

