
 .home-container{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("board.jpg");
    background-repeat: repeat-y;
}

.home-content{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
.notes-container{
    width:55%;
    margin:0 auto;
    text-align: center;
    /* background-color: aqua; */
    
}
.arrow-icon{
    width:8rem;
}
.previous-icon{
      transform: scaleX(-1);

}

.creation-button{

    background-color: #CACBC6;
}

.note-title {
    font-size: 40px;
     width:300px;
    overflow:hidden;

}
.note-body-list {
    font-size: 20px;
    border: black solid 1px;
    height: 200px;
    width:300px;
    overflow:hidden;
    background-color: #C6C1AE;
}

p{
    word-wrap: break-word;
}
h2{

  white-space: nowrap;
}
.note-body {
    font-size: 20px;
    border: black solid 1px;
    height: 200px;
    width:300px;
    /* overflow:; */
}
 .note-container{
    padding:0 30px 0 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

} 



.notes-list{
    margin-top: 20vh;
    list-style: none;
    display: grid;
    grid-template-columns: 20rem 20rem 20rem;
    grid-gap: 100px;
    position: absolute;
    top:0;
}

a{
    text-decoration: none;
    color: black;
}
.next-button{
    width: fit-content;
    height: fit-content;
}
a:hover{
    color: grey;
}



@media screen and (max-width: 600px) {
    .notes-list{
    margin-top: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
    position: absolute;
    top:0;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("board.jpg");
    background-repeat: repeat-y;
}

 .home-container{
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: none;

}
.arrow-icon{
    display: none;
}
.previous-icon{
    display: none;

}

.notes-container{
    width:70%;
    text-align: center;
    /* background-color: aqua; */
    
}
.hamburguer-menu{
    width:6em;
    height:5em;
    background-color: blue;
    position:absolute;
    top:0;
    left: 0;
}

}