
 .home-container{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("board.jpg");
    background-repeat: repeat-y;
}
.creation-button{

    background-color: #CACBC6;
}

.note-title {
    font-size: 40px;
     width:300px;
    overflow:hidden;

}
.note-body-list {
    font-size: 20px;
    border: black solid 1px;
    height: 200px;
    width:300px;
    overflow:hidden;
    background-color: #C6C1AE;
}

p{
    word-wrap: break-word;
}
h2{

  white-space: nowrap;
}
.note-body {
    font-size: 20px;
    border: black solid 1px;
    height: 200px;
    width:300px;
    /* overflow:; */
}
 .note-container{
    padding:0 30px 0 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

} 



.notes-list{
    margin-top: 20vh;
    list-style: none;
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-gap: 100px;
    position: absolute;
    top:0;
}

a{
    text-decoration: none;
    color: black;
}
.next-button{
    width: fit-content;
    height: fit-content;
}
a:hover{
    color: grey;
}