
 .home-container{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("board.jpg");
    background-repeat: repeat-y;
}



.home-content{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
.hamburguer-menu-icon{
    display:none;

}
.notes-container{
    width:55%;
    margin:0 auto;
    text-align: center;
    margin-right: 32vw;;
    position:absolute;
    top:-10vh;
    
    /* background-color: aqua; */
    
}
.arrow-icon{
    width:8rem;
}
.next-button{
    width: fit-content;
    height: fit-content;
    position:absolute;
    right:0.5rem;
}
.previous-button{
    position:absolute;
    left:.5rem;

}
.previous-icon{
      transform: scaleX(-1);
     

}

.creation-button{

    background-color: #CACBC6;
}

.note-title {
    font-size: 1.5rem;
     width:300px;
    overflow:hidden;
    display: flex;
    justify-content: center;

}
.note-body-list {
    box-sizing: border-box;
    font-size: 2rem;
    border: #9b9686 solid 8px;
    height: 26vh;
    width:20vw;
    overflow:hidden;
    background-color: rgb(228, 208, 208);
    border-radius: 4%;

}

p{
    word-wrap: break-word;
}
h2{

  white-space: nowrap;
}

 .note-container{
    /* padding:0 30px 0 30px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

} 

.notes-list{
    margin-top: 20vh;
    list-style: none;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    grid-gap: 8%;
    position: absolute;
    top:0;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: grey;
}



@media screen and (max-width: 600px) {
    .notes-list{
    margin-top: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
    position: absolute;
    top:0;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url("board.jpg");
    background-repeat: repeat-y;
}


.arrow-icon{
    display: none;
}
.previous-icon{
    display: none;

}

.notes-container{
    width:70%;
    text-align: center;
    /* background-color: aqua; */
    
}
.hamburguer-menu{
    width:6em;
    height:5em;
    position:absolute;
    top:0;
    left: 0;
}

.hamburguer-menu-icon{
    width:80px;

}

}


@media screen and (max-width: 2000px) {
    .note-body-list {
    box-sizing: border-box;
    font-size: 2rem;
    border: #9b9686 solid 8px;
    height: 26vh;
    width:20vw;
    overflow:hidden;
    background-color: rgb(228, 208, 208);
    border-radius: 4%;

}



}