.header-container {
  height: 60px;
  width: 100vw;
  position: absolute;
  top: 0;
  justify-content: center;
}

.header-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0;
  right: 0;
}
.creation-button{
  padding:1rem 4rem 1rem 4rem;
}

.header-button {
  background-color: rgb(192, 192, 192);
  height: 100%;
  padding: 0 2rem 0 2rem;
  display: flex;
  text-align: center;
  align-items: center;

  box-shadow: black 1px 1px 1px 1px;
}

.logout-button:hover {
  background-color: rgba(192, 192, 192, 0.589);
}

.categories-dropdown-menu{
  height:30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position:relative;
  z-index: 6;;
  
}

.categories-button{
  height:8vh;
  display: flex;
  justify-content: center;
  padding: 0 2rem 0 2rem;
  margin-bottom:1px;

}
.dropdown-menu-item{
  background-color: rgb(192, 192, 192);
  height:8vh;
  width:20vw;
  display: flex;
  justify-content: center;
}

.new-category-modal{
  padding:30px;
  background-color:#787E73;
  position:absolute;
  border-radius: 30px;
}

.new-category-modal button{
   padding:10px;
}

.new-category-close-button{
  color:black;
  font-weight: bold;
  font-size: 25px;
  position:relative;
  left:290px;
  bottom:20px;
  border:black 1px solid;
  padding:4px 7px;
  border-radius: 50%;
}

.new-category-close-button:hover{
cursor: pointer;
  color:red;

}