.footer-container{
    background-color: #959586;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    bottom:0;
}

@media screen and (max-width: 370px) {
    .footer-container{
    background-color: #959586;
    width:115vw;
    display: flex;
    justify-content: center;
    position:absolute;
    bottom:-4rem;
    font-size:0.8rem;
  
}


}